@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
body{
    background: rgb(49,81,191);
    background-image: linear-gradient(135deg, rgba(49,81,191,1) 11%, rgba(72,47,175,1) 24%, rgba(149,55,166,1) 41%, rgb(6, 51, 136) 83%, rgb(34, 42, 96) 100%);
}

/* Testimonials */
.wrapper {
  position: relative;
  width: 80vw;
  max-width: 41em;
  min-height: 25em;
  border-radius: 0.6em;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
  display: flex;
  margin-top: 250px;
}
.testimonial-container {
  width: 85%;
  height: 100%;
  position: relative;
  margin: auto;
  padding: 1.8em 1.2em;
}
.wrapper button {
  font-size: 1.8em;
  height: 2.2em;
  width: 2.2em;
  background-color: #ffffff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border: none;
  color: #0a69ed;
  box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
  cursor: pointer;
  border-radius: 50%;
}
button#next {
  right: -1.1em;
}
button#prev {
  left: -1.1em;
}
.testimonial-container p {
  color: rgb(227, 227, 227);
  text-align: center;
  font-size: 0.9em;
  line-height: 2em;
  letter-spacing: 0.05em;
}
.testimonial-container img {
  display: block;
  margin: 1.8em auto 1.25em auto;
  border-radius: 50%;
  width: 5em;
}
.testimonial-container h3 {
  color: white;
  font-size: 1em;
  text-align: center;
}
.testimonial-container h6 {
  color: rgb(220, 217, 217);
  font-size: 0.9em;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .wrapper {
    font-size: 14px;
  }
  }

 /* Underline-Hover-Effect */
a.underline-hover-effect {
  text-decoration: none;
  color: inherit;
}

.underline-hover-effect {
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}

.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(74 222 128);
  transition: 0.7s ease-in-out;
}
.underline-hover-effect:hover::before {
  width: 100%;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

.animation{
    animation:fadeIn 0.5s
}
@keyframes fadeIn {
    from{
        opacity:0
    }

    to{
        opacity:1
    }
}

@keyframes fadeout {
    from{
        opacity:1
    }

    to{
        opacity:0
    }
}

/* Hamburger */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: white;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Button */

.button {
  /* position: relative; */
  display: inline-block;
  margin: 5px;
  padding:11px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

.button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.button:active {
  transform: scale(0.9);
}

/* To-Top */

.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  --tw-text-opacity: 1;
  background-color: #4120c6;
  color: white;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .5s;
  cursor: pointer;
}

.to-top:hover{
    background-color: #209CEE;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

/* Animate-On-Scroll */

.selector{
  opacity: 0;
  transition: all 1s;
}

.show{
  opacity: 1;
}

.msg{
background: rgb(142,40,168);
background: linear-gradient(135deg, rgba(142,40,168,1) 45%, rgba(22,71,208,1) 80%);}
